root {

    --padding-c: 10px --rem-x:1rem --borders-g:1px
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    margin-bottom: 10px;
}

main {
    max-width: 840px;
    margin: 0 auto;

}

h1 {
    color: steelblue;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 2px;
}

nav a {
    color: white;
    padding: 10px 15px;
    display: block;

}

nav {
    background-color: rgb(0, 157, 255);
    padding: var(--padding-c);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

main img {
    width: 150px;
    height: auto;
    border: var(--borders-g) solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 0 auto;
    border: var(--borders-g) rgba(0 0 0/0.2);
    padding: var(--rem-x);
    background-color: #eee;
    color: #333;
    text-align: center;
    grid-row: 1/2;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    align-items: stretch;
}

aside h2 {
    position: relative;
    top: 100px
}

aside img {
    width: 300px;
    height: 300px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #0f0101;
    text-align: center;
}

/*Class Selectors*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.box {

    padding: 1.5rem;
    background-color: gray;
    border: 1px solid rgb(0 0 0/10%);
    color: #000;
}