root {

    --padding-c: 10px --rem-x:1rem --borders-g:1px
}

main {
    max-width: 840px;
}

h1 {
    color: steelblue;
}

nav a {
    color: white;
    padding: var(--padding-c);
    display: block;
}

nav {
    background-color: rgb(0, 157, 255);
    padding: var(--padding-c);
}

main img {
    width: 150px;
    height: auto;
    border: var(--borders-g) solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--rem-x);
    border: var(--borders-g) rgba(0 0 0/0.2);
    padding: var(--rem-x);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

footer {
    margin-top: 15px;
    border-top: var(--borders-g) solid #000;
    text-align: center;
}